########################################
# Primary Printer Config File
########################################

[gcode_macro _info_printer]
gcode:

#to do

#--------------------------------------------------------------------

[pause_resume]
recover_velocity: 200.0
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

#--------------------------------------------------------------------

[virtual_sdcard]
path: ~/gcode_files
on_error_gcode:
  CANCEL_PRINT

#--------------------------------------------------------------------

[display_status]

#--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 5000
max_accel_to_decel: 5000
square_corner_velocity: 5
max_z_velocity: 30
max_z_accel: 100

#--------------------------------------------------------------------

[gcode_macro _printer_vars]
# prototype: {% if printer["gcode_macro _printer_vars"].ptr_verb_debug %}  M118 >>> _linadv_module_start Start <<< {% endif %}

variable_ptr_verb_error:			1 	# set to 0 to mute error reporting (um, errors.  lol)
variable_ptr_verb_info:				0   # set to 0 to mute info reporting (has data)
variable_ptr_verb_status:			0   # set to 0 to mute status reporting (useful modes, update, etc.)
variable_ptr_verb_debug:			0   # set to 0 to mute debugs stuffs I added
variable_ptr_verb_modload:			0   # set to 0 to mute debugs stuffs I added
		
variable_ptr_verb_codeflow:			0   # set to 0 to mute debugs stuffs I added (proc entry/exit)
variable_show_proc_exit:			1	# 1 enables display of nesting depth btics on procedure exit
variable_show_proc_exit_details:	1	# previous needs to be enabled for this to work, 1 displays function on exit, if passed

variable_max_bed_x:	120
variable_max_bed_y:	120
variable_max_bed_z:	120

# similar module-specific verbosity settings contained in file | proc:
	# _kicky-probe.cfg | _klicky_vars
	# _debug_macros.cfg | _debug_vars
	# _ercf_software.cfg | ercf_var
	# _nozzle_scrub.cfg | _scrub_vars
	# _led_effects.cfg | _ledeff_vars
	# _gcode_processing.cfg | _gcodeproc_vars
	# _linear_advance.cfg | _linadv_vars

variable_pause_retract_default:		1.0	# default retract amount at pause - is also default deretract amount at resume


gcode:
	#there is none, this is for broad variable access

#--------------------------------------------------------------------

[idle_timeout] 
timeout: 18000  #in seconds - 18000= 5hr, 3600 = 1hr
gcode:
  M84
  TURN_OFF_HEATERS
## TODO:  add dly for HE to cool to some threshold (HeatCreep Prevention)
  UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=60

#--------------------------------------------------------------------

[include __mcus.cfg]
[include __bed.cfg]
[include __fans.cfg]
[include __print_start.cfg]
[include __print_pause.cfg]
[include __print_resume.cfg]
[include __print_cancel.cfg]
[include __print_end.cfg]
[include _park_procs.cfg]
[include _btt_sfs.cfg]
[include _hw_retract.cfg]
[include _bed_screws.cfg]
[include _steppers_drivers.cfg]
[include _sensors.cfg]
[include _io_defs.cfg]
[include _persistent_variables.cfg]
[include _console_response.cfg]
[include _gcode_macros.cfg]
[include _gcode_processing.cfg]
[include _linear_advance.cfg]
[include _exclude_object.cfg]
[include _corexy_gantry_speed_test.cfg]
[include _user_interaction.cfg]
[include _debug_macros.cfg]
[include _trace_debug.cfg]
[include _svv_debug.cfg]
[include _dynamics_debug.cfg]
[include _state_debug.cfg]
[include _temp_capture.cfg]
[include _m300_sounds.cfg]		 # <-- chain loads gcode songs
[include ___startup_autoexec.cfg]
