#############################################################################
#   Parking Procs
#############################################################################

[gcode_macro _info_park_procs]
gcode:
	# todo

[gcode_macro _park_head]
# parameter is ENTRY=machine_state
description:  procs for post canx/end parking of heads
gcode:

	{% set svv = printer.save_variables.variables %}				# set context for save_variables object

	######################### debug stuffs
#	{% if svv.module_debug_loaded %} _enable_trace_debug {% endif %}
#	{% if svv.module_debug_loaded %} _enable_gmove_debug REASON='"_PARK_HEAD - t/s`g weird print park moves"' {% endif %}
#	{% if svv.module_debug_loaded %} _enable_save_var_debug {% endif %}

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_start function=_park_head func_params='"{rawparams|string}"'  {% endif %}

	{% set th = printer.toolhead %}									# set context for printer.toolhead object

	{% set x_park = th.axis_maximum.x|float %}					# max x
	{% set y_park = th.axis_maximum.y|float %}					# max y
	{% set Z_park = th.axis_maximum.Z|float %}					# max z

	G1 Z{Z_park} F1800											# move to park z
	G0 X{x_park} Y{y_park} F10000								# and move to park XY

	######################### debug stuffs
#	{% if svv.module_debug_loaded %} _disable_save_var_debug {% endif %}	# make sure svv debug off
#	{% if svv.module_debug_loaded %} _disable_gmove_debug {% endif %}
#	{% if svv.module_debug_loaded %} _disable_trace_debug {% endif %}

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_end function=_park_head {% endif %}
