#####################################################################
#  realtime save variables debug
#####################################################################

[gcode_macro SAVE_VARIABLE]
#####################################################################
#  realtime save_var debug echo
#####################################################################
description: SAVE_VARIABLE, with console echo if so enabled
# does type conversion of numbers too, pulling them out of strings
# optional param RAW, if passed and != 0, bypasses the type conversion
rename_existing: _SAVE_VARIABLE_STOCK
gcode:

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_start function=SAVE_VARIABLE func_params='"{rawparams|string}"'  {% endif %}

	{% set save_var = params.VARIABLE|lower %}			# lower case var names are required
	{% set save_val = params.VALUE %}
	{% set save_raw = params.RAW|default(0)|int %}

	{% if printer["gcode_macro _debug_vars"].force_svv_typing and save_raw == 0 %}

		## forcibly save numbers as numbers (int/float) and not within strings, 
		## even though passed numbers may be stringified
		{% if save_val|replace("\"","")|int|string == save_val|replace("\"","")|string %}		# test for int
			{% set svv_VALUE = save_val|replace("\"","")|int %}									# it's an int, so strip any string encapsulations
		{% elif save_val|replace("\"","")|float|string == save_val|replace("\"","")|string %}	# test for float
			{% set svv_VALUE = save_val|replace("\"","")|float %}								# it's a float, so strip any string encapsulations
		{% else %}																				# it's not a number
			{% set svv_VALUE = "'" + save_val|string + "'" %}									# so wrap in string encapsulation chars
		{% endif %}
	
	{% endif %}
	
	{% if printer["gcode_macro _debug_vars"].save_var_debug %} M118 _>_ _SAVE_VARIABLE_STOCK: VARIABLE={save_var} VALUE={svv_VALUE} _<_ {% endif %}

	_SAVE_VARIABLE_STOCK VARIABLE={save_var} VALUE={svv_VALUE}

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_end function=SAVE_VARIABLE {% endif %}

#--------------------------------------------------------------------

[gcode_macro _enable_save_var_debug]
description: used to enable save_var debug
gcode:

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_start function=_enable_save_var_debug func_params='"{rawparams|string}"'  {% endif %}

	{% if printer["gcode_macro _debug_vars"].debug_verb_status %} M118 >>>>> _enable_save_var_debug <<<<< {% endif %}
	SET_GCODE_VARIABLE MACRO=_debug_vars VARIABLE=save_var_debug VALUE=1

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_end function=_enable_save_var_debug {% endif %}

#--------------------------------------------------------------------

[gcode_macro _disable_save_var_debug]
description: used to disable save_var debug
gcode:

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_start function=_disable_save_var_debug func_params='"{rawparams|string}"'  {% endif %}

	{% if printer["gcode_macro _debug_vars"].debug_verb_status %} M118 >>>>> _disable_save_var_debug <<<<< {% endif %}
	SET_GCODE_VARIABLE MACRO=_debug_vars VARIABLE=save_var_debug VALUE=0

	{% if printer["gcode_macro _printer_vars"].ptr_verb_codeflow %} _proc_end function=_disable_save_var_debug {% endif %}

